.main {
    text-align: center;
}

#heading {
    font-family: 'Courier New', Courier, monospace;
}

.dice-area {
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: center;
}

.left,
.right {
    margin: 20px 20px;
}

#btn-start {
    font-size: 25px;
    height: 40px;
    width: 60px;
    border: none;
    background-color: #fff;
    border-radius: 6px;
    color: #113946;
    cursor: pointer;
}

#btn-start:hover {
    color: #001524
}